/* Catalog-of-shops all styles */

.catalog-of-shops {
  margin-bottom: 120px;
  padding-top: 100px;
}

.catalog-of-shops h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 20px;
  color: black;
}

.catalog-of-shops h1 + p {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.catalog-of-shops__content-item {
  width: 320px;
  height: 270px;
  background-image: url("../images/catalog-of-shops__item-bg.png");
  background-position: 0 top;
  background-color: #e0dbd3;
  border-radius: 3px;
}

.catalog-of-shops__content-item a {
  display: block;
}

.catalog-of-shops__content-item img {
  width: auto;
  max-width: 320px;
  max-height: 362px;
}

/* Catalog-of-shops - search */

.catalog-of-shops__search {
  position: relative;
  width: 400px;
}

.catalog-of-shops__search-field {
  width: 400px;
  height: 46px;
  padding-left: 25px;
  padding-right: 45px;
  background-color: white;
  border: 1px solid #e0dbd3;
  border-radius: 23px;
}

.catalog-of-shops__search-field:focus {
  border: 1px solid #ffa800;
}

.catalog-of-shops__search-field::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #e0dbd3;
}

.catalog-of-shops__search-field:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #e0dbd3;
}

.catalog-of-shops__search-field::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #e0dbd3;
}

.catalog-of-shops__search-submit {
  position: absolute;
  top: 14px;
  right: 18px;
  display: block;
  width: 19px;
  height: 19px;
  background-image: url("../images/main_sprite.png");
  background-position: -2px -888px;
  background-color: transparent;
  border: none;
  outline: none;
}



/* Catalog-of-shops - pagination */

.catalog-of-shops__pagination {
  padding-left: 43px;
}

.catalog-of-shops__pagination li {
  display: inline-block;
  vertical-align: top;
}

.catalog-of-shops__pagination-button {
  display: block;
  width: 39px;
  height: 39px;
  margin-right: 11px;
  border-radius: 50%;
  border: 2px solid #ffa800;
  font-size: 12px;
  font-weight: 600;
  line-height: 39px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.catalog-of-shops__pagination-button:hover, 
.catalog-of-shops__pagination-button--active {
  background-color: #ffa800;
}

